/* line 6, ../sass/intro.scss */
.app, .app .login, .app .register, .app .play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

/* line 13, ../sass/intro.scss */
.app .play .detail-item .detail-img {
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/intro.scss */
.app .play .detail-item {
  overflow: hidden;
}

/* line 20, ../sass/intro.scss */
.app .play .detail-item .detail-description {
  display: none;
}

/* line 23, ../sass/intro.scss */
.app {
  width: 100%;
  height: 100vh;
}

/* line 33, ../sass/intro.scss */
.app .login, .app .register {
  width: 250px;
}
/* line 36, ../sass/intro.scss */
.app .login, .app .register {
  border: 3px solid grey;
}
/* line 39, ../sass/intro.scss */
.app .login, .app .register {
  padding: 30px 20px;
}
/* line 59, ../sass/intro.scss */
.app .play {
  width: 100%;
}
/* line 62, ../sass/intro.scss */
.app .play {
  padding: 7% 12%;
}
/* line 65, ../sass/intro.scss */
.app .play .detail-item {
  width: 80px;
  height: 80px;
}
/* line 72, ../sass/intro.scss */
.app .play .detail-item {
  margin: 10px;
}
/* line 75, ../sass/intro.scss */
.app .play .detail-item {
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
