/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/intro.scss */
.app .register fieldset, .app .login fieldset, .app .logout fieldset {
  text-align: center;
}

/* line 6, ../sass/intro.scss */
.app, .app .register fieldset, .app .login fieldset, .app .logout fieldset, .app .register, .app .login, .app .logout, .app .play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

/* line 13, ../sass/intro.scss */
.app .play .detail-item .detail-img {
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/intro.scss */
.app .play .detail-item {
  overflow: hidden;
}

/* line 20, ../sass/intro.scss */
.app .play .detail-item .detail-description {
  display: none;
}

/* line 23, ../sass/intro.scss */
.app {
  width: 100%;
  height: 100vh;
}

/* line 3, ../sass/_form.scss */
.app .register, .app .login, .app .logout {
  width: 400px;
}
/* line 6, ../sass/_form.scss */
.app .register, .app .login, .app .logout {
  border-radius: 15px;
  border: 1px solid grey;
}
/* line 10, ../sass/_form.scss */
.app .register, .app .login, .app .logout {
  padding: 30px 20px;
}
/* line 13, ../sass/_form.scss */
.app .register input, .app .login input, .app .logout input {
  border-radius: 7px;
  border: 2px solid blue;
}
/* line 19, ../sass/_form.scss */
.app .register fieldset, .app .login fieldset, .app .logout fieldset {
  position: relative;
  margin-bottom: 20px;
}
/* line 27, ../sass/_form.scss */
.app .register #submit, .app .login #submit, .app .logout #submit {
  padding: 16px 25px;
  margin-bottom: 10px;
  background-color: #207cda;
}
/* line 34, ../sass/_form.scss */
.app .register #login-link, .app .login #login-link, .app .logout #login-link, .app .register #register-link, .app .login #register-link, .app .logout #register-link {
  display: inline-block;
  width: 100%;
}
/* line 40, ../sass/_form.scss */
.app .register .field, .app .login .field, .app .logout .field {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 46, ../sass/_form.scss */
.app .register label, .app .login label, .app .logout label {
  width: 40%;
  text-align: right;
  display: inline-block;
}
/* line 53, ../sass/_form.scss */
.app .register input, .app .login input, .app .logout input {
  width: 55%;
}
/* line 61, ../sass/_form.scss */
.app .register .helptext, .app .login .helptext, .app .logout .helptext {
  display: none;
  position: absolute;
  bottom: 70px;
  left: -150px;
}
/* line 86, ../sass/_form.scss */
.app .register form, .app .login form, .app .logout form {
  width: 100%;
  height: 100%;
}
/* line 91, ../sass/_form.scss */
.app .register {
  background-color: #b4cbf5;
}
/* line 95, ../sass/_form.scss */
.app .login {
  background-color: #b4cbf5;
}
/* line 99, ../sass/_form.scss */
.app .logout {
  background-color: #b4cbf5;
}
/* line 39, ../sass/intro.scss */
.app .play {
  width: 100%;
}
/* line 42, ../sass/intro.scss */
.app .play {
  padding: 7% 12%;
}
/* line 45, ../sass/intro.scss */
.app .play .detail-item {
  width: 80px;
  height: 80px;
}
/* line 52, ../sass/intro.scss */
.app .play .detail-item {
  margin: 10px;
}
/* line 55, ../sass/intro.scss */
.app .play .detail-item {
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
/* line 1, ../sass/_toolbar.scss */
.app .play-toolbar {
  position: absolute;
  top: 30px;
  left: 10px;
}
/* line 5, ../sass/_toolbar.scss */
.app .play-toolbar a {
  padding: 20px 30px;
  background: black;
  text-decoration: none;
}
/* line 10, ../sass/_toolbar.scss */
.app .play-toolbar a:active, .app .play-toolbar a:link, .app .play-toolbar a:visited {
  color: white;
}
/* line 13, ../sass/_toolbar.scss */
.app .play-toolbar a:hover {
  background-color: #ddd;
  color: black;
}
