//////////////////
// FORM STYLING
%panel-width{
	width: 400px;
}
%panel-border {
	border: 1px solid #ddd;
    border-radius: 2px;
}
%panel-padding {
	padding: 30px 20px;
}
%panel-font {
	font-family: 'Arial';
}
%input-border {
	border-radius: 5px;
	border: 1px solid #3f72af;
	&:active {
		border-color: #112d4e;
	}
}

%fieldset {
	fieldset {
		position: relative;
		@extend %flex;
		@extend %center;
		margin-bottom: 20px;
	}
}
%submit {
	#submit {
		padding: 16px 25px;
		margin-bottom: 25px;
		background-color: #207cda;
		font-size: 12px;
		transition: all 200ms ease-in-out;
		box-shadow: 0 0 3px -1px #70ccfa;
		border-radius: 7px;
		border: none;
		color: #fff;

		&:hover {
			box-shadow:0 0 3px 1px #207cda;
			background-color: white;
			color: #000;
		}
	}
}
%login-register-link {
	#login-link, #register-link {
		display: inline-block;
		width: 100%;
		transition: transform 300ms ease;
		cursor: pointer;
		
		&:active, &:link, &:visited {
			color: #3f72af;
		}
		&:hover {
			color: #112d4e;
			transform: scale(1.03);

		}
	}
}
	%field-margin {
		.field {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	%label {
		label {
			width: 20%;
			text-align: right;
			display: inline-block;
			font-family: 'American Typewriter';
		}
	}
	%input {
		input {
			width: 68%;
			padding: 4px 4px;
			margin-left: 20px;
			@extend %input-border;
		}
	}

// HELP TEXTS -- not added now
%helptext-styling {
	.helptext {
		display: none;
		position: absolute;
		bottom: 70px;
		left: -150px;
	}
}
%button-styles {
	@extend %button-font;
	@extend %button-border;
	padding: 17px 23px;
	margin: 20px 5px;
	transition: all 150ms ease-in-out;
	text-decoration: none;
	font-size: 12px;

	&:active, &:link, &:visited {
		color: #fff;
	}
	
}

// BASE STYLING
%base-styling {
	@extend %panel-width;
	@extend %panel-border;
	@extend %panel-padding;
	@extend %panel-font;
	
	@extend %fieldset;
	@extend %field-margin;
	@extend %submit;
	@extend %login-register-link;

	@extend %input;
	@extend %label;
	@extend %helptext-styling;

	@extend %flex;

	box-shadow: 0 0 111px -12px #999;
	
	form {
		width: 100%;
		height: 100%;

	}
}
.register {
	@extend %base-styling;
}
.login {
	@extend %base-styling;
	#login-success {
		display: none;
	}
}
.logout {
	@extend %base-styling;
}
#back {
	@extend %button-styles;
	border-radius: 7px;
	background-color: #bb2727;
	color: #fff;

	&:hover {
		background-color: #fff;
		box-shadow:0 0 4px 2px #bb2727;
		color: #bb2727;
	}
}
.addImg{
	@extend %base-styling;
	.complete-view label {
		width: 30%
	}
}

#comment-form {
	@extend %base-styling;
	width: 500px;
	padding: 0 50px;
	left: 20%;
	border: none;
	box-shadow: none;
    border: 1px solid #555;
	.errorlist {
		display: none;
	}

	fieldset {
		padding: 20px 50px 0 75px;
		text-align: left;
	    width: 100%;
    	
    	div {
    		margin: 10px 0;
    	}
		.comment-field {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 20px;
			label {
				padding-right: 8px;
			}
			textarea {
				height: 50px;
    			border-radius: 12px;
			}
		}
	}
	#submit {
		margin-top: 24px;
	}
}