&-toolbar {
	position: absolute;
	top: 30px;
	left: 10px;
	a {
		padding: 20px 30px;
		background: black;
		text-decoration: none;

		&:active, &:link, &:visited {
			color: white;
		}
		&:hover {
			background-color: #ddd;
			color: black;
		}
	}
}