@import "compass/css3";

%center {
	text-align: center;
}
%flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
%full {
	width: 100%;
	height: 100%;
}
%overflow-hidden {
	overflow: hidden;
}
%hide {
	display: none;
}
%app-size {
	width: 100%;
	height: 100vh;
}


.app {
	@extend %app-size;
	@extend %flex;
	
	/////////////////
	/// FORM STYLING
	@import "form";

	//////////////////
	///	PLAY
	%play-width {
		width: 100%;
	}
	%play-padding {
		padding: 7% 12%;
	}
	%detail-size {
		width: 80px;
		height: 80px;
	}
	%detail-radius {
		@include border-radius(50%);
	}
	%detail-gap {
		margin: 10px;
	}
	%detail-rotate {
		@include transform(rotateZ(-90deg));
	}
	.play {
		@extend %play-width;
		@extend %play-padding;
		@extend %flex;

		/////////////////
		/// TOOLBOX
		@import "toolbar";

		.detail-item {
			
			@extend %detail-size;
			// @extend %detail-radius;
			@extend %detail-gap;
			@extend %overflow-hidden;
			@extend %detail-rotate;

			.detail-img {
				@extend %full;
			}

			.detail-description {
				@extend %hide
			}

		}
	}

}