{% extends "picsna/base.html" %}
{% block content %}
  <div class="login">
    
    <form method="POST" id="webinar-sign-in" name="form">  <!-- width: 100% -->
      {% csrf_token %}
      <fieldset id="login-fieldset">

        <!-- DOUBLE CHECK ON EMAIL AND USERNAME -->
        <div class="username field">
          <label for="id_username">Username:</label>
          {{ form.username }}
        </div>

        <div class="password field">
          <label for="id_password">Password:</label>
          {{ form.password }}
        </div>

      </fieldset>
        
        <button type="submit" id="submit">LOGIN</button>
        <a id="register-link" href="{% url 'register' %}">If you don't have an account, Register</a>
    </form>

    <div id="login-success" class="mail-not-sent">
      <h4>You've successfully loged in.</h4>
    </div>

  </div>
{% endblock content %}