{% extends "picsna/base.html" %}
{% block content %}
	
  <div class="addImg">
  {% if user.is_authenticated %}
    
    <form enctype="multipart/form-data" method="POST" id="add-form" name="form" >  
    
      {% csrf_token %}
      <fieldset id="add-fieldset" class="form-group">
          {{form.errors}}
        <div class="picture field">
          <label for="id_author">Author:</label>
          {{ form.author }}
        </div>
        <div class="picture field">
          <label for="id_picture">Picture:</label>
          {{ form.picture }}
        </div>
        <div class="title field">
          <label for="id_title">Title:</label>
          {{ form.title }}
        </div>
        <div class="link field">
          <label for="id_link">Link:</label>
          {{ form.link }}
        </div>
        <div class="complete-view field">
          <label for="id_complete">complete view:</label>
          {{ form.completev }}
        </div>
      </fieldset>
    
      <button type="submit" id="submit">SUBMIT</button>
      
    </form>

  {% else %}

	<div class="failure">
		<h3>You have no permission to add new content.</h3>
		<p>please <a href="{% url 'users-login' %}">Login</a> or <a href="{% url 'users-register' %}">Register</a> to proceed.</p>
	</div>

  {% endif %}
  </div>
{% endblock content %}