{% extends "picsna/base.html" %}
{% block content %}

  <div class="play">
  	<div class="play-toolbar">
  	{% if user.is_authenticated %}
		<a href="{% url 'users-logout' %}">Log out</a>
		<a href="{% url 'picsna-addImg' %}">Add Image</a>
  	{% else %}
		<a href="{% url 'users-login' %}">Login</a>
		<a href="{% url 'users-register' %}">Register</a>
	{% endif %}
	</div>

    {% for detail in detailViews %}
    	<div class="detail-item">
			<img class="detail-img" src="../../{{ detail.picture.url|cut:"picsna/" }}" alt="{{ detail.title }}">

	      <div class="detail-description">
	        <h1>{{ detail.title }}</h1>
	        <p>By {{ detail.author }} on {{ detail.date_added|date:"F d, Y" }}</p>
	        <a href='{{ detail.link }}'>LINK</a>
	      </div>
	  </div>
    {% endfor %}

  </div>
{% endblock content %}