{% extends "picsna/base.html" %}
{% block content %}

  <div class="play">

    {% for detail in detailViews %}
    	<div class="detail-item">
			<img class="detail-img" src="../../{{ detail.picture.url|cut:"picsna/" }}" alt="{{ detail.title }}">

	      <div class="detail-description">
	        <h1>{{ detail.title }}</h1>
	        <p>By {{ detail.author }} on {{ detail.date_added|date:"F d, Y" }}</p>
	        <a href='{{ detail.link }}'>LINK</a>
	      </div>
	  </div>
    {% endfor %}

  </div>
{% endblock content %}