{% extends "picsna/base.html" %}
{% block content %}
  <div class="register">

    <form method="POST" id="webinar-sign-in" name="form">  <!-- width: 100% -->
      <fieldset>

        <div>
          <label for="email">E-mail</label>
          <input type="email" required name="email" id="email">
        </div>

        <div>
          <label for="name">Username: </label>
          <input type="text" required name="name" id="name">
        </div>

        <div>
          <label for="surname">Password: </label>
          <input type="password" required name="surname" id="surname">
        </div>

        <button type="submit" id="submit">REGISTER</button>
        <a href="{% url 'picsna-login' %}">If you already have an account, Login</a>

      </fieldset>

    </form>

    <div id="mail-succes" class="mail-not-sent">
      <h4>You've successfully register.</h4>
    </div>

  </div>

{% endblock content %}